
---

### Problem: Students Who Show Improvement

**Table:** `Scores`

| Column Name | Type    |
| ----------- | ------- |
| student_id  | int     |
| subject     | varchar |
| score       | int     |
| exam_date   | varchar |

* `(student_id, subject, exam_date)` is the **primary key** for this table.
* Each row contains information about a student's score in a subject on a particular exam date.
* `score` is between **0 and 100** (inclusive).

---

### Task

Write an SQL query to find the students who have **shown improvement**.
A student is considered to have shown improvement if **both** of these conditions are satisfied:

1. They have taken exams in the **same subject** on at least **two different dates**.
2. Their **latest score** in that subject is **higher** than their **first score**.

Return the result table with the following columns:

* `student_id`
* `subject`
* `first_score`
* `latest_score`

Order the result by `student_id`, `subject` in **ascending order**.

---

### Example

**Input:**

`Scores` table:

| student_id | subject | score | exam_date  |
| ---------- | ------- | ----- | ---------- |
| 101        | Math    | 70    | 2023-01-15 |
| 101        | Math    | 85    | 2023-02-15 |
| 101        | Physics | 65    | 2023-01-15 |
| 101        | Physics | 60    | 2023-02-15 |
| 102        | Math    | 80    | 2023-01-15 |
| 102        | Math    | 85    | 2023-02-15 |
| 103        | Math    | 90    | 2023-01-15 |
| 104        | Physics | 75    | 2023-01-15 |
| 104        | Physics | 85    | 2023-02-15 |

**Output:**

| student_id | subject | first_score | latest_score |
| ---------- | ------- | ----------- | ------------ |
| 101        | Math    | 70          | 85           |
| 102        | Math    | 80          | 85           |
| 104        | Physics | 75          | 85           |

**Explanation:**

* Student 101, Math: Improved from 70 → 85 ✅
* Student 101, Physics: Dropped from 65 → 60 ❌
* Student 102, Math: Improved from 80 → 85 ✅
* Student 103, Math: Only one exam (not eligible) ❌
* Student 104, Physics: Improved from 75 → 85 ✅

---

### My Solution

In [ ]:
-- Write your PostgreSQL query statement below
WITH CTE AS
(
    SELECT student_id, subject,
    ROW_NUMBER() OVER(PARTITION BY student_id,subject ORDER BY exam_date) as rnk,
    LAG(score) OVER(PARTITION BY student_id,subject ORDER BY exam_date) as LAG,
    LEAD(score) OVER(PARTITION BY student_id,subject ORDER BY exam_date) as LEAD,
    score, exam_date
    from Scores 
),
cte3 as(
select a.student_id, a.subject, CASE WHEN a.lag is NULL THEN a.score ELSE NULL END as first_score,
CASE WHEN b.lead is NULL THEN b.score ELSE NULL END as latest_score

 from cte a
 join cte b
 on a.student_id = b.student_id
 and a.subject=b.subject)

 select * from cte3 where latest_score>first_score and first_score is not null and latest_score is not null;