# 1205. Monthly Transactions II

**Tables**

**Transactions**

```
+------------+---------+
| Column Name| Type    |
+------------+---------+
| id         | int     |
| country    | varchar |
| state      | enum    |  -- values: "approved", "declined"
| amount     | int     |
| trans_date | date    |
+------------+---------+
```

`id` is the primary key. The table contains incoming transactions and `state` is an enum of `["approved","declined"]`. ([Leetcode][1])

**Chargebacks**

```
+------------+------+
| Column Name| Type |
+------------+------+
| trans_id   | int  |
| charge_date| date |
+------------+------+
```

`trans_id` is a foreign key referencing `Transactions.id`. Each chargeback corresponds to a previous transaction (even if that transaction was not approved). ([Leetcode][1])

---

**Problem**

Write an SQL query to find, for **each month** and **country**, the following aggregated values:

* `approved_count` — number of transactions in that month & country with `state = 'approved'`
* `approved_amount` — total `amount` of approved transactions in that month & country
* `chargeback_count` — number of chargebacks whose `charge_date` falls in that month and whose `trans_id` refers to a transaction in that country
* `chargeback_amount` — total `amount` of the transaction(s)`corresponding to those chargebacks (use the`amount`from`Transactions`)

**Notes**

* Represent the month as `YYYY-MM` (e.g. `2019-05`).
* Given a month and country, **ignore rows where all four metrics are zero** (i.e., do not return rows with all zeros).
* A chargeback is counted for the month determined by `Chargebacks.charge_date`. The `amount` for chargebacks comes from the original `Transactions.amount`. ([Leetcode][1])

---

**Result columns (in order)**

```
month, country, approved_count, approved_amount, chargeback_count, chargeback_amount
```

---

**Example**

Transactions:

```
+------+---------+----------+--------+------------+
| id   | country | state    | amount | trans_date |
+------+---------+----------+--------+------------+
| 101  | US      | approved | 1000   | 2019-05-18 |
| 102  | US      | declined | 2000   | 2019-05-19 |
| 103  | US      | approved | 3000   | 2019-06-10 |
| 104  | US      | approved | 4000   | 2019-06-13 |
| 105  | US      | approved | 5000   | 2019-06-15 |
+------+---------+----------+--------+------------+
```

Chargebacks:

```
+----------+------------+
| trans_id | charge_date|
+----------+------------+
| 102      | 2019-05-29 |
| 101      | 2019-06-30 |
| 105      | 2019-09-18 |
+----------+------------+
```

Expected result:

```
+----------+---------+----------------+-----------------+-------------------+--------------------+
| month    | country | approved_count | approved_amount | chargeback_count  | chargeback_amount  |
+----------+---------+----------------+-----------------+-------------------+--------------------+
| 2019-05  | US      | 1              | 1000            | 1                 | 2000               |
| 2019-06  | US      | 3              | 12000           | 1                 | 1000               |
| 2019-09  | US      | 0              | 0               | 1                 | 5000               |
+----------+---------+----------------+-----------------+-------------------+--------------------+
```

(Example adapted from the problem statement.) ([Leetcode][1])

---

[1]: https://leetcode.ca/all/1205.html "Leetcode 1205. Monthly Transactions II"